extends layout

block content
    div.hero-unit

        h1 Welcome to Angular Espresso

        div(ng-controller='AppCtrl')
            pre(style='white-space: pre-wrap;', ng-repeat='scene in scenes')
                span(ng-repeat='(key, value) in scene') {{ key }}: {{ value }} |&nbsp;
                br

        span Click on one of the options to test the project
            ul.nav.nav-pills.nav-stacked
                li: a(href='#/home') X3dom example
                li: a(href='/x3d') X3dom example separate page
                li: a(href='#/socket') Socket server
            hr
            div(ng-view)

    if dev
        script(src='/lib/socket.io-client/dist/socket.io.js')
        script(src='/lib/angular/angular.js')
        script(src='/lib/angular-route/angular-route.js')
        script(src='/lib/angular-resource/angular-resource.js')
        script(src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
        script(src='/lib/x3dom-1.5.1/x3dom.debug.js')

        script(src='/angoose/angoose-client.js')


        script(src='/angular/app.js')
        script(src='/angular/services.js')
        script(src='/angular/controllers.js')
        script(src='/angular/filters.js')
        script(src='/angular/directives.js')
    else
        script(src='/lib/socket.io-client/dist/socket.io.min.js')
        script(src='/lib/angular/angular.min.js')
        script(src='/lib/angular-route/angular-route.min.js')
        script(src='/lib/angular-resource/angular-resource.min.js')
        script(src='/lib/angular-bootstrap/ui-bootstrap-tpls.min.js')
        script(src='/lib/x3dom-1.5.1/x3dom.js')

        script(src='/angoose/angoose-client.js')

        script(src='angular-app.min.js')
