doctype html
html
    head
        meta(charset="utf-8")
        title X3dom Experiment
        link(rel='stylesheet', type='text/css', href='/lib/x3dom-1.5.1/x3dom.css')
    body(ng-app="X3domApp")
        block content
